.modalWrapper{
    position: fixed;
    height: 100vh;
    top: 0;
    overflow: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.738);
}
.modal{
    height: 80%;
    overflow: auto;
    font-family: "Roboto", sans-serif;
    width: 42%;
    margin: 35px;
    color: white;
    border-radius: 18px;
    border: #8e8e8e 4px solid;
    padding: 15px;
    background: url('../../Assets/Projects/modal.jpg') no-repeat center ;
    background-size: cover;
    h2{
        margin-top: 4em;
    }
    p{
        margin-top: 3em;
        font-size: 20px;
    }
    li{
        color: rgb(98, 115, 255);
        font-size: 18px;
        
    }
}

// header modal : 
.headerModal{
    position: fixed;
    top: 16%;
    left: 50%;
    margin-top: 1em;
    transform: translate(-50%, -50%);
    h1{
        text-shadow: 10px 6px 2px rgba(0, 0, 0, 0.34);
        font-size: 25px;
        text-decoration: underline;
         color: rgb(98, 115, 255);
         margin-top: 0;
        margin-bottom: 2em;
        font-family: "Montserrat", sans-serif;
        text-align: center;
    }
}

// closemodal button modifications 
.closeModal{
    display: flex;
    justify-content: right;
cursor: pointer;
}
// sizing img 
.imgOfModal{
    gap: 5em;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    .screenProject{
height: auto;
width: 60%;
    }.logo{
            height: auto;
            width: 20%;
    }
    
}
// link into project
.seeProject{
    display: flex;
    gap: 3em;
    justify-content: center;
    margin-top: 5em;
    a{
        &:hover{
            color: white;
        }
        color: rgb(98, 115, 255);

    }
}
// langage 's logos
.skills{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    margin-bottom: 1em;
    img{
        height: auto;
        width: 20%;
    }
}

@media only screen and (max-width: 480px) {
    .modal{
        height: 80%;
        width: 72%;
        text-align: center;
        .closeModal{
            position: fixed;
            right: 20%;
            color: rgb(98, 115, 255);
            filter: brightness(1.1);
        }
    }

  }
  