$primaryColor :  #6ec7e0;
$secondaryColor :  #12171c;


$ralewayFont :'Raleway', sans-serif;
$silksFont: 'Silkscreen', cursive;

.title{
    margin-top: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    .bigTitle{
       width: 100%;
    display: flex;
    font-family:$silksFont;
    gap: 2em;
    align-items: center;
    justify-content: center;
    i{
        color:$primaryColor ;
        filter: brightness(1.3);
        font-size: 2em;
    }
    h1{
        color: white;
        font-weight: 300;
        font-size: 35px;
    }
}
}
// skills
.containSkillsWrapper{
    margin-top: 4em;
   
    .contentSkills{
            display: flex;
            align-items: center;
            div{
                display: flex;
                justify-content: center;
            }
        
    }
}
.skillsContent{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 1em;
    position: relative;
    i{
        cursor: pointer;
        font-size: 3em;
    }
    img{
        height: auto;
        width: 35%;
    }
    .percent{
        color:$primaryColor;
        filter: brightness(1.2);
        opacity: 0;
        position: absolute;
    }
}

// class affichage % :
.displayPercent{
    animation: displayPercentage forwards 0.1s ;
}
.none{
    opacity: 0;
    transition: 0.4s;
}

@keyframes displayPercentage {
    0%{
opacity: 0;
bottom: -10px;

    }
    100%{
opacity: 1;
bottom: 15px;
    }
}
@media only screen and (max-width: 480px) {
  .skillsContent{
    gap: 2em;
    img{
        width: 55%;
    }
    i{
        font-size: 2em;
    }
  }
  .title .bigTitle h1 {
    font-size: 25px;
}
  }