.homeContain {
  gap: 5em;
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  padding: 25px;
  max-width: 100%;
}

.noneNumber {
  opacity: 0;
  transition: 0.4s;
  position: absolute;
}

.display {
  opacity: 1;
  transition: 0.4s;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutMe hr {
  width: 80%;
}
.aboutMe h1 {
  font-weight: 300;
  font-size: 40px;
  margin: 10px;
  font-family: "Silkscreen", cursive;
  color: white;
}

.nameAndPhoto {
  display: flex;
  align-items: center;
}

.myNameWrapper {
  height: 100px;
  width: 25%;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.name {
  color: #f5f5f5;
  font-family: "Raleway", sans-serif;
  white-space: nowrap;
  font-weight: 300;
  font-size: 60px;
}

.job {
  color: #6ec7e0;
  font-family: "Silkscreen", cursive;
  white-space: nowrap;
  font-weight: 400;
  font-size: 20px;
}

.myDescription {
  color: #f5f5f5;
  font-size: 18px;
  margin-top: 2em;
  font-family: "Raleway", sans-serif;
}
.myDescription .sentenceAboutMe {
  margin-top: 1em;
}
.myDescription p {
  font-weight: 300;
  margin: 0;
}

.containLeftSide {
  width: 100%;
}

.containRightSide {
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 35%;
  display: flex;
  align-items: center;
}
.containRightSide img {
  box-shadow: 0 0 4px #6ec7e0;
  border: #12171c solid 8px;
  height: auto;
  width: 50%;
}

.logoUnderPic {
  display: flex;
  width: auto;
  justify-content: center;
}
.logoUnderPic img {
  height: auto;
  width: 10%;
}

.descriptionWrapper {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  background-color: #12171c;
  box-shadow: #6ec7e0 0px 0px 4px;
}

.contactWrapper {
  padding: 20px;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #12171c;
  box-shadow: #6ec7e0 0px 0px 4px;
}

.textDescription {
  color: #f5f5f5;
  font-size: 18px;
  text-align: center;
  width: 50%;
}
.textDescription h1 {
  color: #6ec7e0;
  font-weight: 500;
  font-size: 25px;
}

.textContact {
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: center;
  color: #f5f5f5;
  font-size: 18px;
  width: 50%;
}
.textContact h1 {
  color: #6ec7e0;
  font-weight: 500;
  font-size: 20px;
}
.textContact a {
  text-decoration: none;
  color: white;
}
.textContact a i {
  font-size: 2em;
}
.textContact a:hover {
  color: #0053a5;
}

.importantWord {
  font-weight: 600;
  color: #6ec7e0;
}

@media only screen and (max-width: 480px) {
  .homeContain {
    text-align: center;
  }
  .homeContain .nameAndPhoto {
    flex-direction: column;
    gap: 2em;
  }
  .homeContain .name {
    font-size: 38px;
  }
  .homeContain .aboutMe h1 {
    font-size: 30px;
  }
  .homeContain .textDescription {
    width: 60%;
  }
  .homeContain .textContact {
    width: 100%;
  }
  .homeContain .mailTo {
    display: none;
  }
  .homeContain .containRightSide img {
    width: 90%;
  }
  .homeContain .containRightSide .logoUnderPic img {
    width: 35%;
  }
  .homeContain .containLeftSide .job {
    font-size: 75%;
  }
}/*# sourceMappingURL=Home.css.map */