$primaryColor :  rgb(98 115 255);
$secondaryColor :  #12171c;
$thirdColor : rgb(98, 115, 255);
.cardWrapper{

    h1{
        color: $thirdColor;
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        font-size: 25px;
        font-weight: 300;
        margin: 0;
    }
    &:hover{
        cursor: pointer;
        background-color: #12171c;
        transition: all 0.6s;
        width: 26%;
        box-shadow: rgb(0 82 163 / 38%) 2px 2px 15px;
        
        .openProject{
            opacity: 1;
            transition: 0.5s;
            background-color: #12171caf;
        }

    }
    .imageCard{
        height: 70%;
        width: 100%;
    }
}


.openProject{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    i{
        color: rgb(98, 115, 255);
        margin-left: 15px;
        margin-right: 15px;
    }
    
    button{
        font-family: "Montserrat", sans-serif;
        color: rgb(98, 115, 255);
        cursor: pointer;
        font-size: 25px;
        text-decoration: none;
       background-color: transparent;
    }
}

.underImageCard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .openClassRoomLogo{
        height: auto;
        width: 15%;
    }
}
