$primaryColor :  #6ec7e0;
$secondaryColor :  #12171c;

$ralewayFont :'Raleway', sans-serif;
$silksFont: 'Silkscreen', cursive;

.headerWrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    opacity: 0;
    animation : displayHeader 1s forwards;
    animation-delay: 0.3s;
    height: 0px;
    margin: 0 auto;
    background-color: #12171c;
    box-shadow: 0 0 10px $primaryColor;
    a{
       
        text-decoration: none;
        font-family: $silksFont;
        p{
            &:hover { 
                color: rgb(98, 115, 255);
        transition: all 0.6s;
              }

        }
    }
    .presentation a{
        font-weight: 600;
        color: hsla(0, 0%, 96%, 0.879);
    }

}
@keyframes displayHeader {
    0%{
        opacity: 0;
        height: 0px;
    }
    100%{
        opacity: 1;
        height: auto;
    }
}