
.projectsWrapper{
  display: flex;
  gap: 2em;
  flex-direction: column;
}

.projectCards{
   height: 100%;
    width: auto;
    align-items: center;
    max-width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
}
.cardWrapper{
  height: 100%;
    position: relative;
    border: rgba(255, 255, 255, 0.1490196078) solid 3px;
    width: 25%;
    font-family: "Montserrat", sans-serif;
    padding: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
// gros titre :
.myProjects{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  hr{
    width: 80%;
  }
h1{
  font-weight: 300;
  font-size: 40px;
  margin: 10px;
font-family: 'Montserrat', sans-serif;

  color: white;
}
}
// version mobile : 
@media only screen and (max-width: 480px) {
  .myProjects h1 {
    font-size: 25px;
  }

  
  .projectCards{
    margin-bottom: 81%;
    .cardWrapper {
      width: 80%;
      height: 35%;
      
      &:hover {
        width: 100%;
      }
    }
    gap: 2em;
  }
}

