$thirdColor :  #0053a5;

.wrapperLinks{
    height: 35%;
    display: flex;
    justify-content: center;
    gap: 2em;
    i{
        cursor: pointer;
        font-size: 2em;
        color: white;
        &:hover{
            color: $thirdColor;
        }
    }
    .phoneLogo{
position: relative;
        .phoneNumber{
            cursor: pointer;
            color: white;
            position: absolute;
            opacity: 1;
        bottom: -9px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .wrapperLinks{
        gap: 1em;
        padding-right: 20%;
    }
  
  
  }